@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;400;500;700&display=swap');
:root {
    --oswald: 'Oswald', sans-Brif;
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-family: var(--oswald);
    font-weight: 400;
    
}
.uppercase {
    text-transform: uppercase;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
button,li{
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}
.header-img{
    width: 18vw
}
.header-search input {
    text-transform: uppercase;
    padding: .7vw 0;
    background-image: url("../image/search.svg");
    background-repeat: no-repeat;
    background-position: 2vw center;
    background-size: 1.5vw;
    width: 18vw;
    padding-left: 4vw;
    font-size: 1.1vw;
    border: 1px solid #A04955;
    border-radius: 54px;
}
.main-search::placeholder {
    font-size: .8vw;
    font-family: var(--oswald);
    font-weight: 400;
}
.header-nav-item a {
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    text-decoration: none;
    color: #333333;
}
.container {
    padding-left: 4%;
    padding-right: 4%;
}
.header nav {
    width: 40%;
    margin-right: -15vw;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.burger_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vh;
    padding: 3vw 5vw;
    position: absolute;
    top: 8vw;
    right: 4vw;
    text-align: right;
    font-size: 1.1vw;
    color: #333333;
    background-color: #f7fafd;
}
.burger_menu li a{
    font-size: 2vw;
}

.hidden{
    display:none
}
.burgerIcon{
    width: 20px;
    position: absolute;
    right: 4vw;
    top: 2vw;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 4%;
}
.banner__img img {
    width: 39vw;
}
.banner__content{
    width: 33vw;
}
.banner__content-title {
    font-weight: 700;
    font-size: 3.7vw;
    color: #001F3D;
    line-height: 5vw;
    letter-spacing: 0.1vw;
    margin: 0;
}
.banner__content-subtitle {
    font-weight: 300;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 1.5vw 0 0vw 0;
    font-size: 1.4vw;
    letter-spacing: 0.03vw;
    line-height: 2vw;
}
.banner__content-btn{
    width: 15vw;
    height: 3vw;
    font-size: 1.4vw;
    background-color: white;
    border: 1px solid black;
    font-weight: 300;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-top: 3vw;
    text-align: center;
}
.banner__content-btn a{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
    margin-top: .6vw;
}

.pantsContainer {
    padding: 4vw 3.5vw;
    text-align: center;
    background-color: rgba(241, 241, 241, 1);
}
.pantsContainer h2 {
    font-size: 3.5vw;
    margin: 0 0 2vw 0;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}
.pantsContainer h3 {
    font-size: 2.2vw;
    margin: 0 0 2vw 0;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}
.pants {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pants a{
    text-decoration: none;
    color: black;
}
.pantsBox {
    background-color: white;
    width: 16vw;
    padding: 1.5vw 2.8vw;
    box-sizing: border-box;
    cursor: pointer;
    
}
.pantsBox > a > img,
.pantsBox > img{
    width: 10vw;
}
.pantsBox h5 {
    margin: 0.4vw 0;
    font-size: 1.4vw;
    font-weight: 500;
    width: 9.9vw;
    line-height: 2vw;
    text-align: center;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.underStars {
    margin: 0.5vw 0;
    font-size: 1.3vw;
    font-weight: 200;
    text-align: center;
}
.underStars span {
    font-weight: 500;
}
.chart {
    height: 2vw;
    width: 8vw;
    background-color: rgba(160, 73, 85, 1);
    background-image: url(../image/chartBag.svg);
    background-repeat: no-repeat;
    background-size: 1.8vw;
    background-position: 0.1vw 0.2vw;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    cursor: pointer;
    border: none;
    text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
    font-family: 'Oswald', sans-serif;
    padding-left: 1.5vw;
    position: relative;
    z-index: 3;
    text-align: center;
    font-weight: 400;
    font-size: 1vw;
}

@media (max-width: 600px) {
    #nav1{
        display: none;
    }
    #burgerBtn{
        display: flex;
        cursor: pointer;
    }
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
}
.pantsImg {
    margin: 4.5vw 3vw;
}

.mansContainer{
    display: flex;
    justify-content: center;
}
.mans{
    width: 37vw;
    margin-top: 3vw;
}
.mansContainer .banner__content-subtitle{
    width: 34vw;
    line-height: 2vw;
}
p.banner__content-subtitle{
    line-height: 2vw;
}
.man-container{
    margin: 0 2vw;
}
.man-container p{
    margin: 1vw auto;
}
.man-container .banner__content-btn{
    width: 20vw;
    font-size: 1.2vw;
    margin-top: -0.1vw;
}
.image-block{
    position: relative;
}
h6.image-text{
    background-color: rgba(160, 73, 85, 1);
    position: absolute;
    bottom: 0;
    height: 3vw;
    width: 100%;
    color: white;
    font-size: 2.5vw;
    margin: 0;
    padding: 1.2vw 0;
    opacity: 0.8;
    font-weight: 400;
}
.forest{
    background-image: url('../image/forrest.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
}
.forest .banner__content{
    margin: 0vw 4vw;
    width: 39vw;
    padding: 2vw 3.1vw;
}
.forest .banner__content-title{
    color: white;
    width: 30vw;
}
.forest .banner__content-subtitle{
    width: 32vw;
    line-height: 2.5vw;
    color: white;
    font-size: 1.5vw;
}
.forest .banner__content-btn{
    width: 25vw;
    font-size: 1.5vw;
    color: white;
    background-color: rgba(160, 73, 85, 1);
    border: none;
}

.three{
    margin: 6vw 0 -3vw 0;
}

.red-box{
    background-color: rgba(160, 73, 85, 1);
    text-align: center;
    height: 20vw;
}
.red-box .banner__content-title{
    color: white;
    padding: 2.5vw;
    margin: 0;
    font-size: 4vw;
}
.main-box {
    display: flex;
    justify-content: space-between;
    padding: 0 6vw;
    position: relative;
    top: -10vw;
    width: 80vw;
}
.oneOf{
    background-color: white;
    border: 1px solid rgba(160, 73, 85, 1);
    padding: 2vw;
    width: 18vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.oneOf img{
    width: 14vw;
    margin-bottom: 9vw;
    margin-top: 1.5vw;
}

.oneOf h4{
    text-align: center;
    font-size: 1.5vw;
    margin: 0 0 1.5vw 0;
}
.oneOf button{
    width: 15vw;
    font-size: 1.2vw;
    color: white;
    background-color: rgba(160, 73, 85, 1);
    border: none;
    margin: 0 auto;
    padding: 0.7vw;
}
.glue{
    position: absolute;
    bottom: 2vw;
    width: 18vw;
    text-align: center;
}
.family-legacy{
    display: flex;
    justify-content: center;
    position: relative;
    height: 39vw;
    padding-bottom: 3vw;
}
.family-legacy img{
    width: 17vw;
    top: 0;
    position: absolute;
    
}
.family-main{
    background-color: rgba(243, 243, 243, 1);
    width: 85vw;
    margin: 10vw auto;
    text-align: center;
    padding: 10vw 0 3vw 0;
    margin-bottom: 2vw;
    height: 14vw;
}

.family-main .banner__content-title{
    font-size: 4vw;
    letter-spacing: 0.3vw;
}
.family-main .banner__content-subtitle{
    font-size: 1.6vw;
}
.family-legacy .family-main .banner__content-btn{
    margin-top: 2vw;
    
}

.footer{
    background-color: rgba(160, 73, 85, 1);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 4vw 8vw 4vw 4vw;
}
.footer-list, .footer-input-container{
    color: white;
}
.footer-list h4, .footer-input-container h4{
    font-size: 1.5vw;
    margin: 0 0 1vw 0;
}
.footer-list li{
    line-height: 1.7vw;
    font-size: 1vw;
}
.footer-input-container p{
    font-size: 1vw;
    margin-bottom: 2.5vw;
}
#form1 label{
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.input-container{
    width: 32vw;
    height: 3vw;
    background-color: rgba(243, 243, 243, 1);
    display: flex;
    align-items: center;
    padding: 0.1vw;
}
.input-container form{
    margin-bottom: 2.4vw;
}
.input-container input{
    width: 20vw;
    height: 2.5vw;
    margin-right: 0.3vw;
    border: none;
    background-color: rgba(243, 243, 243, 1);
    padding-left: 1.2vw;
    margin-top: 1vw;
}
.input-container input::placeholder{
    color:rgba(160, 73, 85, 1);
    opacity: 100%;
    font-weight: 400;
}
.input-container button{
    background-color: rgba(160, 73, 85);
    color: white;
    width: 10vw;
    height: 2.5vw;
    border: none;
    margin-right: .5vw;
    font-size: 1vw;
}
.white{
    background-color: white;
}
.white p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1vw
}
.arrow{
    position: fixed;
    right: 4vw;
    bottom: 1vw;
    cursor: pointer;
    width: 7vw;
    z-index: 5;
}
.bag{
    position: fixed;
    left: 5vw;
    bottom: 1.5vw;
    cursor: pointer;
    width: 6vw;
    display: flex;
}
.bag img{
    width: 6vw;
}
.bag span{
    font-size: 3vw;
    position: absolute;
    right: 0;
    top: -2vw;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
}

.heading img {
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
}

.heading-a{
    display: flex;
    width: 7vw;
    font-size: 1.3vw;
    text-decoration: none;
    color: black;
    justify-content: space-around;
    align-items: center;
    padding: 2vw 0;
}
.heading-a.long{
    width: 12vw;
}
.heading-a p{
    margin: 0;
}
.filter-header{
    display: flex;
    padding-bottom: 2vw;
}
.filter-input{
    border: none;
    border-bottom: 1px solid rgba(196, 196, 196, 1);
    width: 73vw;
    font-size: 3vw;
    
}

.filter-input::placeholder{
    font-size: 3vw;
    font-weight: 500;
    opacity: 35%;
}
.filter-main{
    background-color: rgba(241, 241, 241, 1);
    display: flex;
    padding: 2vw 2% 5vw 4%;
    justify-content: space-between;
    position: relative;
}

.filter-menu{
    width: 18vw;
    border: 1px solid #94636a;
    height: fit-content;
    padding: 1vw;
    box-sizing: border-box;
}
.filter-menu .filter{
    font-size: 2vw;
    border-bottom: 1px solid rgba(160, 73, 85, 1);
    padding: 1vw 0 2vw 0;
    width: 15vw;
    position: relative;
    cursor: pointer;
    margin-bottom: 1vw;
}
.filter-menu .label-p::after{
    content: url(../image/v-down.png);
    height: 1vw;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
label p{
    margin: 0;
}
.filter-content{
    margin: 1vw 0 -1vw 0;
    max-height: 0vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.7s linear;
}
.filter-content div {
    margin-right: .5vw;
    margin-bottom: 1vw;
}

#size:checked ~ .filter-content,
#color:checked ~ .filter-content{
    max-height: 30vw;
    transition: all 0.7s linear;
}
#size:checked ~ .label-p::after,
#color:checked ~ .label-p::after{
    content: url(../image/v-up.png);
}
.filter-content label{
    margin-bottom: 1vw;
}
label.colourfull {
    width: 2.5vw;
    height: 2.5vw;
    border: .1px solid rgb(131, 122, 122);
    margin-bottom: 0;
}

.goods{
    flex-wrap: wrap;
    height: fit-content;
    position: relative;
}
.goods, #allData{
    width: 73vw;
    display: flex;
    gap: 2.5vw;
}

#allData{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92vw;
    box-sizing: border-box;
}

.allTop{
    display: flex;
    width: 75vw;
}
.frontImg{
    width: 30vw;
    padding: 0 4vw;
    max-height: 39vw;
}
.allRight{
    width: 40vw;
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formal{
    text-decoration: none;
    color: black;
}
.formal a{
    text-decoration: none;
    display: flex;
}
.formal img{
    max-height: 10vw;
    object-fit: contain;
}
.stars{
    margin-top: 1vw;
    width: 12vw;
}
.allRight p.underStars{
    font-size: 2vw;
    margin-top: 1vw;
}
.allRight p.underStars > span{
    display: block;
    margin-top: 1vw;
    width: 6vw;
    font-size: 3vw;
}
.color{
    margin-top: 1vw;
    width: 12vw;
    font-size: 2vw;
}
.color3{
    margin-top: 1vw;
    width: 12vw;
    font-size: 2vw;
}
.color span{
    display: block;
    display: flex;
    margin: 1vw 1vw 1vw 0;
}
.big{
    margin:0 0 0 0;
    width: 19vw;
    height: 3.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 2vw;
    background-size: 3vw;
    background-position: 0.2vw .8vw;
    font-size: 2vw;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details h2{
    font-size: 3vw;
}
.details p{
    font-size: 2vw;
    line-height: 3vw;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    padding-top: 1vw;
}
.wishlist{
    height: 3vw;
    width: 16vw;
    border: 1px solid black;
    padding: .4vw 1.5vw;
}
.social{
    display: flex;
    justify-content: space-between;
    width: 15vw;
    margin-top: 2vw;
}

.social img{
    width: 2vw;
}

.color2{
    font-size: 1.5vw;
    margin: 1vw 0;
    text-align: left;
    display: flex;
    justify-content: center;
}
.colourfull{
    margin: 0 .5vw;
    width: 1.5vw;
    height: 1.5vw;
    display:inline-block
}

.pagination{
    position: absolute;
    width: 12vw;
    height: 2vw;
    bottom: 2vw;
    right: 4vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pagination img{
    width: 1vw;
    height: 1.5vw;
    text-align: center;
    align-self: center;
    padding: 0 0 1vw 0;
    font-size: 1vw;
}
.number{
    width: 2vw;
    text-align: center;
    padding:.5vw 0 0 0;
    background-color: rgba(241, 241, 241, 1);
    color: rgba(160, 73, 85, 1);
    border: 1px solid rgba(160, 73, 85, 1);
    height: 100%;
    font-weight: 600;
    font-size: 1.5vw;
}
.bags{
    display: flex;
    background-color: rgba(241, 241, 241, 1);
    gap: 3vw;
    padding: 2vw;
    flex-wrap: wrap;
}
.bags .pantsBox{
    height: fit-content;
}
.shorts-header{
    width: 30vw;
    margin: 0 auto;
    text-align: center;
    font-size: 3vw;
    padding-bottom: 2vw;
}
.total{
    font-size: 3vw;
}
#delete{
    width: 9vw;
    height: 2vw;
    font-size: 1vw;
}
.back{
    background-color: rgba(160, 73, 85);
    color: rgba(241, 241, 241, 1);
}
.back-white{
    background-color: rgba(241, 241, 241, 1);
    color: rgba(160, 73, 85);
}
